@tailwind base;
@tailwind components;
@tailwind utilities;








/* *{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    border: 0px solid black;
   -webkit-box-shadow: 0 0 2px 0 #000;
    -moz-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 10px 0px 10px;
    background-color: lightgoldenrodyellow;
}

.header img {
    width: 50px;
}

.header>ul {
    display: flex;
    list-style: none;
}
.header>ul>li> a{
    text-decoration:  none;
    color: black;
    font-weight:bold;
}
.header>ul>li {
    margin-left: 2rem;
    list-style: none;
    text-decoration:none;
}

.header> button{
    width: 8%;
}
.menu{
 : 0px 10px 0px 10px;
    -webkit-box-shadow: 0 0 2px 0 #000;
    -moz-b   display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    marginox-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
}
.card{
    border: 0px solid black;
    -webkit-box-shadow: 0 0 2px 0 #000;
    -moz-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 90%;
    padding: 10px 10px 10px 10px;
    background-color:whitesmoke;
}

.card> img{
    width: 100%;
    -webkit-box-shadow: 0 0 2px 0 #000;
    -moz-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
}
.Restraunt-List{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.shimmer-card{
    width: 200px;
    height: 250px;
    margin: 20px;
    background: lightgrey;
}

.search-container{
    margin: 20px;
    text-align: center;
}
.search-container> input{
    padding: 5px;
    margin-left: 20px;
    width:50%;
    text-transform: lowercase;
}
.search-container> p{
    text-transform: lowercase;

}
.search-container> button{
    padding: 5px;
    width: 8%;
    margin-left: 10px;
    
}
.footer {
    -webkit-box-shadow: 0 0 2px 0 #000;
    -moz-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
    background-color: lightcyan;
    border: 0px solid black;
    padding: 20px;
    margin: 0px 10px 10px 10px;
}
#link{
    margin: 30px;
    color: black;
    text-decoration: none;
} */